{% extends 'layout.html' %}

{% block body %}
    <h1>New Publication</h1>
    <br/>
    <hr/>

    <script>
        $(document).ready(function () {
            $('#book').show();
            $('#magazine').hide();

            $('input[type="radio"]').click(function () {
                if ($(this).attr('id') == 'sbook') {
                    $('#book').show();
                    $('#magazine').hide();
                }

                else {
                    $('#magazine').show();
                    $('#book').hide();
                }
            });
        });
    </script>

    <form>

        <div class="form-group">
            <div class="form-row">
                <label for="optType" class="col-form-label">Type Of Publication</label><br>
                <label class="radio-inline">
                    <input type="radio" name="optType" value="Book" id="sbook" checked="checked">Book
                </label>


                <label class="radio-inline">
                    <input type="radio" name="optType" value="Magazine" id="smag">Magazine
                </label>

            </div>
        </div>

        <div class="form-group">
            <label for="inputType" class="col-form-label">Title</label>
            <input type="text" class="form-control" id="inputTitle" placeholder="Enter Publication's Title">
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="category" class="col-form-label">Publication Category</label>
                    <select class="form-control" id="category">
                        <option value="">Select</option>
                        <option value="FANTASY">Fantasy</option>
                        <option value="FASHION">Fashion</option>
                        <option value="THRILLER">Thriller</option>
                        <option value="CRIME">Crime</option>
                        <option value="BUSINESS">Business</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPublisher" class="col-form-label">Publisher</label>
                    <input type="text" class="form-control" id="inputPublisher" placeholder="Publisher">

                </div>
                <div class="form-group col-md-4">
                    <label for="inputStatus" class="col-form-label">Status</label>
                    <select class="form-control" id="category">
                        <option value="">Select</option>
                        <option value="P">Pending</option>
                        <option value="B">Available For Borrowing</option>
                        <option value="R">Only For Reference</option>
                    </select>

                </div>

            </div>
        </div>

        <div id="book">
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputISBN" class="col-form-label">ISBN No.</label>
                        <input type="text" class="form-control" id="inputISBN" placeholder="ISBN No.">

                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAuthor" class="col-form-label">Author</label>
                        <input type="text" class="form-control" id="inputAuthor" placeholder="Author">

                    </div>
                </div>
            </div>

            <div class="form-group">

                <label for="inputSynopsis" class="col-form-label">Synopsis</label>
                <textarea class="form-control" rows="10" id="inputSynopsis"></textarea>


            </div>
        </div>

        <div id="magazine">
            <div class="form-group">
                <div class="form-row">
                    <label for="optType" class="col-form-label">Frequency Of Publication</label><br>
                    <label class="radio-inline">
                        <input type="radio" name="optType" value="Daily">Daily
                    </label>

                    <label class="radio-inline">
                        <input type="radio" name="optType" value="Weekly">Weekly
                    </label>


                    <label class="radio-inline">
                        <input type="radio" name="optType" value="Monthly">Monthly
                    </label>

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-11">
                </div>
                <div class="form-group col-md-1">
                    <input type="submit" class="btn btn-info" value="Submit"/>
                </div>
            </div>
        </div>
    </form>
{% endblock %}