{% extends 'layout.html' %}

{% block body %}
    <h1>Update Publication</h1>
    <br/>
    <hr/>

    <form>

        <div class="form-group">
            <div class="form-row">
                <label for="optType" class="col-form-label">Type Of Publication: Book</label><br>
            </div>
        </div>

        <div class="form-group">
            <label for="inputType" class="col-form-label">Title</label>
            <input type="text" class="form-control" id="inputTitle" placeholder="Enter Publication's Title"
                   value="Harry Potter and The Half Blood Prince">
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="category" class="col-form-label">Publication Category</label>
                    <select class="form-control" id="category">
                        <option value="">Select</option>
                        <option value="FANTASY" selected>Fantasy</option>
                        <option value="FASHION">Fashion</option>
                        <option value="THRILLER">Thriller</option>
                        <option value="CRIME">Crime</option>
                        <option value="BUSINESS">Business</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPublisher" class="col-form-label">Publisher</label>
                    <input type="text" class="form-control" id="inputPublisher" placeholder="Publisher"
                           value="Bloomsbury">

                </div>
                <div class="form-group col-md-4">
                    <label for="inputStatus" class="col-form-label">Status</label>
                    <select class="form-control" id="category">
                        <option value="">Select</option>
                        <option value="P">Pending</option>
                        <option value="B" selected>Available For Borrowing</option>
                        <option value="R">Only For Reference</option>
                    </select>

                </div>

            </div>
        </div>

        <div id="book">
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputISBN" class="col-form-label">ISBN No.</label>
                        <input type="text" class="form-control" id="inputISBN" placeholder="ISBN No."
                               value="0-7475-8108-8">

                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAuthor" class="col-form-label">Author</label>
                        <input type="text" class="form-control" id="inputAuthor" value="J. K. Rowling">

                    </div>
                </div>
            </div>

            <div class="form-group">

                <label for="inputSynopsis" class="col-form-label">Synopsis</label>
                <textarea class="form-control" rows="10" id="inputSynopsis">Severus Snape, a member of the Order of the Phoenix, meets with Narcissa Malfoy, Draco's mother, and Lord Voldemort's faithful supporter Bellatrix Lestrange. Narcissa expresses concern that her son might not survive a dangerous mission given to him by Lord Voldemort. Bellatrix feels Snape will be of no help until he surprises her by making an Unbreakable Vow with Narcissa, swearing on his life that he will protect and assist Draco in his mission.</textarea>


            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-11">
                    </div>
                    <div class="form-group col-md-1">
                        <input type="submit" class="btn btn-info" value="Submit"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}